      
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: fill;
    z-index: -1;
  }

  .content {
    background-color: rgba(168, 203, 205, 0.9);
    border-radius: 146px;
    margin-top: 15%;
    width: 600px;
    margin-bottom: 400px;
  }

  .content1 {
    width: 500px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 35px;
    margin-bottom: 200px;
  }

  .text {
    font-family: 'Lemonade Script', sans-serif;                                         
  }
  
  .inputBox {
    display: block;
    border-radius: 35px;
    padding:10px;
  }

  .inputBox label {
    font-size: 20px;
  }

  .inputBox input {
    background: rgba(255, 255, 255, 0.8);
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 35px;
    padding:10px;
  }

  .button{
    background: #FFF7AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  .api
  {
    max-width: 780px;
    height: 350px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
  }

  .guessBox {
    max-width: 780px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
  }

  .guessBtn {
    outline-style: none;
    margin: 10px;
    width: 66px;
    height: 80px;
    background: #FFF7AF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btnbtn {
  outline-style: none;
  margin: 10px;
  border-radius: 20px;
  background: #FFF7AF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scoreBox {
  margin-top: 20%;
  max-width: 500px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 35px;
}

.score {
  max-width: 200px;
  padding: 50px;
  background: #FFF7AF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}




  